

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  display: flex;
  justify-content: center;
  color:#aaccd6;
  font-style: bold;
  background-color: cornflowerblue;
  border-style: solid;
  border-color: rgb(41, 77, 125);
  border-width: 1em;
  border-radius: 1em;
  padding: 2em;
  width: 100%;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(41, 77, 125);
}

.App-exhibit {
  display: flex;
  justify-content: center;
  color: white;
  font-style: bold;
  background-color: white;
  border-style: dotted;
  border-color: black;
  border-width: 10px;
  border-radius: 1em;
  padding: 1em;
  width: 100%;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.App-link {
  color: #aaccd6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
